{% extends "base.html" %}

{% block content %}
    Resultados para {{query}}
    {% if books %}
        <ol>
            {% for item in books %}
                <li class="mb-2">
                    {{item['title']}}
                    <button class="btn btn-sm {% if item['borrowed'] %}btn-danger{% else %}btn-success{% endif %}">
                        {% if item['borrowed'] %}Reservado{% else %}Disponível{% endif %}
                    </button>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>Nenhum resultado encontrado.</p>
    {% endif %}
{% endblock %}