{% extends "base.html" %}

{% block content %}
    <main>
        <div class="menu">
            <form action = "{{url_for('search') }}" method="post"
                <input type="text" name="query" placeholder="Digite sua busca...">
                <select name = "search_type">
                    <option value="Author_Search">Pesquisa por autor</option>
                    <option value="Title_search">Pesquisa por título</option>
                </select>
                <button type="submit">Buscar</button>
            </form>
        </div>
    </main>
{% endblock %}
